@import "../../../mixins.scss";

.heroBanner {
  width: 100%;
  height: 450px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  position: relative;
  @include md {
    height: 700px;
  }

  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(5%, 25%, 45%, 0) 0%, #04152d 80%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    .title {
      font-size: 55px;
      font-weight: 750;
      margin-bottom: 10px;
      @include md {
        margin-bottom: 0;
        font-size: 90px;
      }
    }

    .subTitle {
      font-size: 20px;
      font-weight: 550;
      margin-bottom: 40px;
      @include md {
        font-size: 25px;
      }
    }

    .searchInput {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: calc(100% - 100px);
        height: 50px;
        background-color: white;
        outline: 0;
        border: 0;
        border-radius: 35px 0 0 35px;
        padding: 0 15px;
        font-size: 15px;
        @include md {
          width: calc(100% - 150px);
          height: 60px;
          font-size: 25px;
          padding: 0 30px;
        }
      }
      button {
        width: 100px;
        height: 50px;
        background: var(--gradient);
        color: white;
        outline: 0;
        border: 0;
        border-radius: 0 35px 35px 0;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.8; /* Adjust the opacity value as needed */
        }

        @include md {
          width: 150px;
          height: 60px;
          font-size: 20px;
        }
      }
    }
  }
}
